<!--Header-->
<nav class="navbar fixed-top" style="background-color: lavenderblush;">
  <i class="fas fa-bars" style="cursor: pointer;"></i>
  <span class="navbar-brand mb-0 h1 title">Marlen Arbelo Almenara</span>
</nav>

<div style="height: 55.6px;"></div>
<!--SideNav-->


<div class="example-container"  *ngIf="shouldRun">

  
<mat-sidenav-container class="example-container" *ngIf="shouldRun" style="height: 100% !important;">

  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-user"></i> &nbsp; Sobre mí</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#estudios"><i class="fas fa-user-graduate"></i> &nbsp; Estudios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-book"></i> &nbsp; Formación Adicional</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-comments"></i> &nbsp; Idiomas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-clipboard-check"></i> &nbsp; Experiencia</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-address-book"></i> &nbsp; Datos de contacto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-info-circle"></i> &nbsp; Más información</a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>

    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
  </mat-sidenav-content>

  <h2 id="estudios">Estudios</h2>
  <p></p>

</mat-sidenav-container>

</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>