<!--Header-->
<nav class="navbar fixed-top" style="background-color: lavenderblush;">
  <i class="fas fa-bars" style="cursor: pointer;"></i>
  <span class="navbar-brand mb-0 h1 title">Marlen Arbelo Almenara</span>
</nav>

<div style="height: 55.6px;"></div>
<!--SideNav-->


<div class="example-container"  *ngIf="shouldRun">

  
<mat-sidenav-container class="sidenav-container" *ngIf="shouldRun" style="height: 100% !important;">

  <mat-sidenav #sidenav mode="side">

    <div style="height: 55.6px !important;"></div>

    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>


    <div class="imagen mb-2">
      <img src="/assets/img/me.jpeg" alt="Mi foto CV" class="foto_side">
    </div>

    <span class="title mb-4" style="color: black; font-size: 20px;">Ingeniera Electrónica</span>

    <ul class="navbar-nav" id="nav">
      <li class="nav-item active">
        <a class="nav-link" href="#mas_mi"><i class="fas fa-user"></i> &nbsp; Sobre mí</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#estudios"><i class="fas fa-user-graduate"></i> &nbsp; Estudios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#for_adicional"><i class="fas fa-book"></i> &nbsp; Formación Adicional</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#idiomas"><i class="fas fa-comments"></i> &nbsp; Idiomas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#experiencia"><i class="fas fa-clipboard-check"></i> &nbsp; Experiencia</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#masinfo"><i class="fas fa-info-circle"></i> &nbsp; Más información</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#contacto"><i class="fas fa-address-book"></i> &nbsp; Datos de contacto</a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 55.6px !important;"></div>

    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>


    <div class="container-lg font-light">

      <div id="mas_mi">
        <h2 class="mb-2 title"><i class="fas fa-user"></i> &nbsp; Sobre mí</h2>
        <ul>
          <li>Lugar de Residencia: Arona</li>
          <li>Fecha de Nacimiento: 22/09/1997</li>
        </ul>
      </div>

      <div id="estudios">
        <h2 class="mb-2 title"><i class="fas fa-user-graduate"></i> &nbsp; Estudios</h2>
        <h3>GRADO EN INGENIERÍA ELECTRÓNICA INDUSTRIAL Y AUTOMÁTICA</h3>
        <h4>Universidad de La Laguna (ULL)</h4>
        <h5>2015-2019</h5>
        <p>
          &nbsp; La carrera, entre otros, me aportó conocimientos en ingeniería eléctrica, electrónica de
          potencia, analógica y digital, instrumentación electrónica y programación de autómatas, en
          especial tipo Siemens Simatic.
        </p>
      </div>

      <div id="for_adicional" class="mt-5">
        <h2 class="mb-2 title"><i class="fas fa-book"></i> &nbsp; Formación Adicional</h2>
        <h3>CURSO DE PROGRAMACIÓN Y DISEÑO WEB FRONT-END</h3>
        <h4>Escuela de Organización Industrial (EOI)</h4>
        <h5>02/2020-05/2020. Horas lectivas: 355 h</h5>
        
          <span>Contenido:</span>
          <ul>
            <li>Front-end (HTML5 / CSS3 avanzado, Flexbox, Grid CSS, PostCSS, etc…).</li>
            <li>JavaScript (fundamentos de programación, ECMAScript, ES Modules…)</li>
            <li>Framework SPA (Vue.js, SFC, Tooling, Vuex, etc…)</li>
            <li>Especialización Diseño (Responsive Design, Metodologías CSS, Frameworks CSS, …)</li>
            <li>Especialización Front-end (Animaciones, librerías gráficas, SVG, APIs nativas de
              JavaScript, etc…)</li>
          </ul>
      </div>

      <div id="idiomas" class="mt-5">
        <h2 class="mb-2 title"><i class="fas fa-comments"></i> &nbsp; Idiomas</h2>
        <h5>Inglés B1 <span class="text-muted">(sin acreditar)</span></h5>
      </div>

      <div id="experiencia" class="mt-5">
        <h2 class="mb-2 title"><i class="fas fa-clipboard-check"></i> &nbsp; Experiencia</h2>
        <ul>
          <li>
            <h3><i class="fas fa-caret-right"></i> DESARROLLADOR FULL STACK JUNIOR</h3>
            <h4>Beca de inserción del CEDeI por ATOS</h4>
            <h5>Granadilla de Abona</h5>
            <h5>02/2020 – Actualmente</h5>
            <p>
              &nbsp; Trabajo con diferentes tecnologías para el desarrollo de software, entre ellas
              CSS3, HTML5, SQL, Java y Git; con ayuda de frameworks como Angular y
              Spring.
            </p>
          </li>

          <li class="mt-2">
            <h3><i class="fas fa-caret-right"></i> TÉCNICO DE MANTENIMIENTO</h3>
            <h4>Beca de inserción por la FGULL en S.A.T. La Fast</h4>
            <h5>Puerto de la Cruz</h5>
            <h5>10/2019 – 02/2020</h5>
            <p>
              &nbsp; Realicé labores de mantenimiento preventivo y correctivo en máquinas de
              embalaje y paletizado, tuve especial contacto con diferentes máquinas de envasado
              ULMA.
            </p>
          </li>
       

        <li class="mt-2">
          <h3><i class="fas fa-caret-right"></i> INGENIERO DE PRODUCCIÓN</h3>
          <h4>Prácticas de Empresa en Panadería Los Compadres S.A.</h4>
          <h5>Santa Cruz.</h5>
          <h5>03/2019 – 04/2019</h5>
          <p>
            &nbsp; Enfoqué mis prácticas en revisar el sistema de automatización de la
            fábrica; recuento de sensores, actuadores y autómatas en funcionamiento para crear
            una propuesta de mejora al sistema existente.
          </p>
        </li>

        <li class="mt-2">
          <h3><i class="fas fa-caret-right"></i> TRABAJO DE FIN DE GRADO (TFG)
            <a href="https://riull.ull.es/xmlui/handle/915/15391" target="_blank" title="Ver TFG en el repositorio oficial de la ULL"><i class="fas fa-link"></i></a>
          </h3>
          <p>
            &nbsp; Hice uso de SolidWorks para crear varios modelos 3D de aerogeneradores con
            diferentes tipos de aspas, bujes y góndolas (con multiplicadora). La potencia
            obtenida es reflejada en un arduino. 
          </p>
        </li>
  
      </ul>

      </div>

      <div id="masinfo" class="mt-5">
        <h2 class="mb-2 title"><i class="fas fa-info-circle"></i> &nbsp; Más información</h2>
          <ul>
            <li><i class="fas fa-car-side"></i> &nbsp; Permiso de conducir y vehículo propio.</li>
            <li><i class="fas fa-suitcase"></i> &nbsp; Movilidad provincial.</li>
            <li><i class="fas fa-clock"></i> &nbsp; Flexibilidad horaria.</li>
            <li>
              <a title="Qué beneficios obtienen las empresas por la contratación de jóvenes, Garantía Juvenil" href="http://empresas.infoempleo.com/hrtrends/garantia-juvenil-que-beneficios-obtienen-las-empresas-por-la-contratacion-de-jovenes" target="_blank"><i class="fas fa-link"></i> &nbsp; Inscrito en el Programa de Garantía Juvenil</a>
            </li>
          </ul>
      </div>

      <div id="contacto" class="mt-5">
        <h2 class="mb-2 title"><i class="fas fa-address-book"></i> &nbsp; Datos de contacto</h2>
          <ul>
            <li><i class="fas fa-envelope"></i>&nbsp; marlenarbeloalmenara@gmail.com</li>
              <li><i class="fas fa-phone-square"></i>&nbsp; 606 73 43 61</li>
              <li><a href="http://www.linkedin.com/in/marlen-arbelo" target="_blank"><i class="fab fa-linkedin"></i> &nbsp; Linkedin</a></li>
          </ul>
      </div>
    </div>

    
  </mat-sidenav-content>

 

</mat-sidenav-container>

</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>